
    
 .main{
    margin-top: 100px;
    text-align: center;
    
    
 } 

.search-input{
    display: block;
    width: 600px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;

   
    
}
.logo-img{
    display:block;
    width: 300px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}
.btn{
   
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 4px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-bottom: 5px;
    border: none;
    border-radius: 4px;
    background-color: #dfe1e5;
    font-size: 14px;

}
    .btn-wrapper{
        display: flex;
        justify-content: center;
    }
    
    